/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-hero-background-color, #282c34); /* opcional: cor de fundo para destaque */
  color: var(--ifm-font-color-base-inverse, #fff); /* texto branco */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* garante que em telas pequenas os botões quebrem linha */
  gap: 1rem; /* espaçamento entre botões */
}
